<div class="page" >
  <div class="container">
    <div class="row">
  <div class="lines">
<div class="breadcrum-wrap"><h5>Vision, Mission & Objective</div></h5>
<p>
<p>Jawahar Lal Nehru College is committed to the pursuit of excellence in higher education, character building and total development of personality and responsible citizenship.</p>
<p>Strategies to achieve these goals:</p>
<p><strong>Pursuit of Excellence: </p></strong>
<p>> Optimum transparency in admission of students 
     and faculty appointments, upholding merit as    
     the foremost criterion.</p>
<p>> Maintenance of a robust work culture.</p>
<p>> Discipline combined with freedom of thought   
      and expression.</p>
<p>> A sense of national consciousness. </p>

<p><strong>Character Building: </p></strong>
<p>It is woven into the total learning environment. Students are encouraged to be honest and hardworking, courteous in behaviour towards all, faculty members to be caring and responsive, and emphasis is laid on personal dignity as well as simplicity and austerity in the total life of the college. </p>

<p><strong>Total Development of Personality: </p></strong>
<p>Class-room teaching is complemented with co-curricular activities, where students work under the supervision of teachers.</p>
<p><strong>Discipline:</p></strong>
<p>The  understands ‘discipline’ as the ability to uphold universal values in day-to-day work and conduct. Discipline is balanced with freedom, lest it gets equated with mere conformity, which is undermines personality development.</p>
<hr>
<p>The <strong>mission</strong> of Jawahar Lal Nehru College is to educate young men and women within a framework of liberal and republican values, to equip them to excel in the service of the nation and to attain optimum personal fulfillment by leading a values-based life.</p><hr>
<p><strong>Communication</strong></p>
<p>The vision and goals stated above are communicated to the entire student body in two broad ways:
<p>
> By transferring the vision to the teaching fraternity through frequent interactions that are informal in nature.</p>
<p>
> A more formal strategy is used in respect of the students. Through morning assembles, attended by all first year students, the Principal addresses the students and educates them in these respects. </p>
<p>The college has a large number of scholarships to promote the pursuit of excellence. Innumerable scholarly activities – including seminars, conferences and workshops are organized to rein force this. In all of these, students and teachers work closely together. Tutorials and lectures are conducted with utmost regularity. 
Teacher truancy is virtually absent in J.L.N College this total ambience distinguished by an earnest and dedicated attitude to work as well as to the welfare of students is the most powerful communication there can be.</p>

    <hr>
    <hr>