<div class="container">
<h1>Contact</h1>
<h2>Jawahar Lal Nehru College</h2>
<p>Rajabari Road</p>
<p>Chakradharpur-833102</p>
<p>West Singhbhum</p>
<p>Jharkhand</p>
<br>
<p>Phone/Fax : 06587-238139</p>
<p>jlncollegeorg.ckp@gmail.com<p>
