
<div class="jumbotron">
	<p id="notice"><%= notice %></p>
	<div class="container-fluid">
		<div class="logo"><img alt="" src="https://dl.dropboxusercontent.com/s/yz691mmkzmluh4a/logo.png">
		</div><br>

   <div class="headerline"> 
Jawahar Lal Nehru College</div>
<br>

<div class="headerline2">A constituent unit of Kolhan University</div>
<br>
<div class="headerline3"><a href="/tenders" role="button" class="btn btn-large btn-primary">Tenders</a></div>

<div class="headerline3"><a href="https://dl.dropboxusercontent.com/s/rlwoynvhk2zrdt8/SSR%20%20REPORT%20%28SELF%20STUDY%20REPORT%29%202015-2016%20-finalised%20on%2028-05-2016.pdf" role="button" class="btn btn-large btn-primary">SSR Report</a></div>
</div>
</div>
<div class="container">
	<div class="row">
<h4><font color="#C8102E"><strong>About Us </strong></font color></h4><hr>
<p><strong>Jawahar Lal Nehru College</strong> was established in the year 1967 with affiliated college status. It has been converted into a constituent of Ranchi University, Ranchi with effect from 24.11.1980 and latter on Kolhan University Chaibasa, West Singhbhum which was established on 12th August, 2009.  The college has been included by the University Grants Commision, New Delhi in the list of colleges under section 2 (f) and 12(b) of the UGC Act 1956. It is a multifaculty college with vocational subjects. Honours in all major traditional subjects of Science, Arts and Commerce are available in the college. </p>


 <div id="collapseTwo" class="accordion-body collapse">
 <p>The college has its on campus called Rajbari in local dialect.The famous historic palatial campus located in the heart of Chakradharpur township. Chakradharpur is a Divisional Head Quarter of the South Eastern Railway and provide a station in the Howrah-Mumbai (via Nagpur) main line.The college is about 1 kilometer from the railway station.                 </p>
      </div>
    
    <button type="button" class="mtn" data-toggle="collapse" href="#collapseTwo">Read More</button><hr>
</div>
  </div>

</div>
</div>
</div>

<div class="blue-bg">
	
		<div class="container">
		<div class="row"> 
			
		<h4><font color="#34495E"><strong>Accademic Programmes </strong></h4></font><hr>
		<br>
		<p></font>


<div class="col-md-4 text-center">
    <div class="user-info media boxt">
                
                <h4><font color="#C52D2F">UNDER GRADUATE </h4></font>
                
                    <p><a class="xx" href="/pages/ug" >Explore Our Programs</p></font></a>


                </div>
            </div>
          
<div class="col-md-4 text-center">
    <div class="user-info media boxt">
                
                <h4><font color="#C52D2F">POST GRADUATE </h3></font>

                <p><a class="xx" href="/pages/pg" >Explore Our Programs</p></font></a>

                </div>
                </div>
                <div class="col-md-4 text-center">
    <div class="user-info media boxt">
                
                <h4><font color="#C52D2F">VOCATIONAL</font> </h3>
                     <p><a class="xx" href="/pages/vocational" >Explore Our Programs</p></font></a>

                </div>
                       <br>
<br>
<br></br>
            </div>

   
</div>



 



</div>
</div>
</div>


<div class="bg">
	<div class="container">
		<div class="row">
			<div class="col-md-8 nopadding">
			<div class="user-info media boxn">

                        <div class="pull-right">
                            <img alt="" src="https://dl.dropboxusercontent.com/s/9etb9bfrhkrlbtu/nageashwar%20pradhan%20jln%20collge.png">

                        </div>

                        <div class="media-body">
                            <h5 style="margin-top: 20px"><font color="#fff"><i>
                            <p>" Education is an engine of growth. The pace of growth has recently changed due to technological innovations and knowledge competition. But a person competing after being fully equipped with skills may not gain much unless having values of life Discipline generates values. I am committed to enable you to not only achieve wisdom and skill but also be of some real service to education and society. I have tremendous faith in you and I am sure you will always enable me to make my point."</i></font></p><hr>
                          </div>
                            <div class="pull-right">
                            <h5><center>Mr. Nageshwar Pradhan</h5></center>
                            <p>Principal, Jawahar Lal Nehru College</p></font>
                          
                            </div>
                        </div>
                    </div>
                  





          




<div class="col-md-4">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <c role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Timelines
        </c>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <p> 1967 - Jawahar Lal Nehru College founded by Late. Rudra Pratap Sarangi (MLC).</p>
       <P> 1967 - Prof. K.M Mishra became first Principal of the college.</p>
        <p> 1980 - Jawahar Lal Nehru College became the constituent unit of Ranchi University, Ranchi.</p>
        <P> 1994 - Vocational Department opened.</p>
          <P> 2005 - B.Ed course opened</p>
            <P> 2008 - BBA & Fashion Designing course is added in the vocational department.</p>
              <P> 2010 - M.A. classes in History, Political Science and Economics opened.</p>
<P> 2011 - M.A. classes is added in Hindi and Commerce.</p>
  <P> 2011 - Wifi connectivity installed in college campus.</p>
      <P> 2012 - College website formerly launched</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <c class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseTwo">
          Downloads
        </c>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        UNDER CONSTRUCTION
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <c class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Admissions & Results
        </c>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        UNDER CONSTRUCTION
      </div>
    </div>
  </div>
</div>     
</div>

</div>

</div>
</div>






<div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h4> <strong>The Faculties</strong></h4>
                    <div class="line">
                        
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h4>Mr. Parsuram Sial</h4>
                                <p>Bursar</p>

                                <p> Head Dept. of Political Science</p>
                                <p>M.A, M.Phil (JNU, New Delhi)</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h4>Dr. Arun Kumar</h4>
                                <p>NSS Programme  Officer</p>
                               <p>Head Dept. of History</p>
                                <p>M.A, Ph. D. (MU, Bodhgaya)</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h4>Lt. A.K. Tripathy</h4>
                                <p>NCC Officer</p>
                                <p>Sports Incharge</p>
                                <p>M.Com Ranchi University, Ranchi</p>
                                   
                              </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h4>Dr. Ramnath Prasad</h4>
                                <p>Co-ordinator</p><p>( Dept. of Vocational Courses)</p>
                                <p>M. Sc., Ph. D.</p><p>( Ranchi University, Ranchi)
</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h4>Dr. Pramod Kumar</h4>
                                <p>Co-ordinator</p><p>( Dept. of Vocational Courses)</p>
                                <p>M.Sc. (Physics) , Patna University, Patna</p><p>Ph. D. , Veer Kunwar Singh University , Arrah</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h4>Mr. Aditya Kumar</h4>
                                <p>M.A. (Philosophy)</p>
                                <p>Ranchi University Ranchi</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="" alt="..." class="img-circle team-img">
                            <div class="caption">
                               <h3>under construction</h3>
                                <p>under construction</p>
                                <p>under construction</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/03.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>under construction</h3>
                                <p>under construction</p>
                                <p>under construction</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
 
 <div class="oter">
  <div class="container">
  <div class="row">

      <h4><font color="#fff"><strong>Quick Links</strong></h4></font><hr>
      <div class="col-md-2">
      
        <p>
         <h2><font color="#fff">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-file"></span></h2></font>
            <font color="#fff">&nbsp; <strong>Admissions</p></strong>
            <font color="#fff"> Admission Eligibilty </p>
            <font color="#fff">  Online Admission</p>
                <font color="#fff"> Admission Enquiry</p>

          </div>
          
          <div class="col-md-2">
      
        <p>
         <h2><font color="#fff">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span></h2></font>
            
           <font color="#fff"><strong>&nbsp;&nbsp;Teaching</p></strong>
            <font color="#fff"> Planning & Execution</p>

                <font color="#fff">Students-Centric Learning</p>
<font color="#fff"> Psycho-Social Support</p>
  <font color="#fff"> Counselling Services</p>


          
      </div>
             <div class="col-md-2">
      
        <p>
         <h2><font color="#fff">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plane"></span></h2></font>
            <font color="#fff"><strong>&nbsp;Infrastructure</p></strong>
                      <font color="#fff">  Library</p>
            <font color="#fff">  Computer Lab</p>
              <font color="#fff">  Playground & Gym</p>
                <font color="#fff"> Hostels for SC/ST Students</p>


          
          </div>
           <div class="col-md-2">
      
        <p>
         <h2><font color="#fff">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span></h2></font>
            <font color="#fff"><strong>&nbsp;Governance</p></strong>
                     
                      <font color="#fff"> Student Union</p>
            <font color="#fff">  Women's Cell</p>
              <font color="#fff">  Equal Opportunity Cell</p>
            <font color="#fff">  Grievance Redressal Cell</p>
            <font color="#fff">  Anti-Ragging Committee</p>
                <font color="#fff">  Campus Placement Cell</p>

</div>

  