<div class="jumbotron">
	<p id="notice"><%= notice %></p>
	<div class="container-fluid">
   <div class="headerline"> 
Jawahar Lal Nehru College</div>
<br>
<div class="headerline2">A constituent unit of Kolhan University</div>
<br>
<div class="headerline3"><a href="/tenders" role="button" class="btn btn-large btn-primary">Tenders</a></div>

<div class="headerline3"><a href="https://dl.dropboxusercontent.com/s/rlwoynvhk2zrdt8/SSR%20%20REPORT%20%28SELF%20STUDY%20REPORT%29%202015-2016%20-finalised%20on%2028-05-2016.pdf" role="button" class="btn btn-large btn-primary">SSR Report</a></div>
</div>
</div>
