<div class="jumbotron">
	<p id="notice"><%= notice %></p>
	<div class="container-fluid">
   <div class="headerline"> 
Jawahar Lal Nehru College</div>
<br>
<div class="headerline2">A constituent unit of Kolhan University</div>
<br>
<div class="headerline3"><a href="/tenders" role="button" class="btn btn-large btn-primary">Tenders</a></div>
</div>
</div>
