<div class="page" >
  <div class="container">
    <div class="row">
  <div class="lines">
<div class="breadcrum-wrap"><h5>Under Graduate Programs</div></h5>
<p>
	<p>

<strong>1. Bachelor of Arts (Honours) </Strong>
<p>
<strong>	Course Structure</strong></p>
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Degree Courses</th>
			<th>Honours</th>
			<th>Subsidiary</th>
			<th>Compulsory Language</th>
			<th>Total</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td>Part I</td>
			<td>2 Papers</td>
			<td>2 Papers</td>
			<td>1 Paper</td>
			<td>5 Papers</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td>Part 2</td>
			<td>2 Papers</td>
			<td>2 Papers</td>
			<td>1 Paper</td>
			<td>5 Papers</td>
		</tr><!-- Darker Table Row -->

		<tr>
			<td>Part 3</td>
			<td>4 Papers</td>
			<td>- - -</td>
			<td>1 Paper</td>
			<td>5 Papers</td>
		</tr>

		

	</tbody>
	<!-- Table Body -->

</table>
<p>

<strong>Honours Paper </strong>:Candidates shall choose any one from below :-
</p>
<p>Hindi, English, Bangla, Urdu, Oriya, Sanskrit, History, Political Science, Philosophy, Economics,
Psychology, Home Science, Geography.</p>
<p>

<strong>Subsidiary Paper </strong>:Two subject from the above list(except the one as an Honours subject) may be chosen as Subsidiary subjects.
</p>
<p>

<strong>Compulsory Paper </strong>: Composition
</p>
<p> a. For Hindi students : Hindi 100 marks  </p>
<p> b. For Non-Hindi students : 50 Marks Hindi & 50 marks Mil (Bangla/Urdu/Oriya/Alt.Eng/Santhali/Ho)</p>
<hr>
<p>
	<strong>2. Bachelor of Commerce (Honours) </Strong>
<p>
<strong>	Course Structure</strong></p>
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Degree Courses</th>
			<th>Honours</th>
			<th>Subsidiary</th>
			<th>Compulsory Language</th>
			<th>Total</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td>Part I</td>
			<td>2 Papers </td>
			<td>2 Papers</td>
			<td>1 Paper</td>
			<td>5 Papers</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td>Part 2</td>
			<td>2 Papers</td>
			<td>2 Papers</td>
			<td>1 Paper</td>
			<td>5 Papers</td>
		</tr><!-- Darker Table Row -->

		<tr>
			<td>Part 3</td>
			<td>4 Papers</td>
			<td>- - -</td>
			<td>1 Paper</td>
			<td>5 Papers</td>
		</tr>

		

	</tbody>
	<!-- Table Body -->

</table>



<p><b>Part I </p>
<div class="container">
<div class="col-md-3">
<p><strong>Honours Paper</strong></b></p><p>Financial Accounting</p>
<p>Auditing</p>


</div>

<div class="col-md-3">
<p><strong>Subsidiary Paper</strong></b></p><p>Principles of Economics</p>
<p>Business Organisation</p>

</div>
</div>

<p><b>Part II </p>
<div class="container">
<div class="col-md-3">
<p><strong>Honours Paper</strong></b></p><p>Business Laws</p>
<p>Specialized Accounts</p>


</div>

<div class="col-md-3">
<p><strong>Subsidiary Paper</strong></b></p><p>Money & Banking</p>
<p>Planning & Economic Development</p>

</div>
</div>

<p><b>Part III </p>
<div class="container">
<div class="col-md-3">
<p><strong>Honours Paper</strong></b></p>
<p>Cost Accountancy</p>
<p>Management Accounting</p>
<p>Taxation Laws & Accounts</p>
<p>Business Statistics & Elementary Maths</p>



</div>
</div>
<p>

<strong>Compulsory Paper </strong>: Composition
</p>
<p> a. For Hindi students : Hindi 100 marks  </p>
<p> b. For Non-Hindi students : 50 Marks Hindi & 50 marks Mil (Bangla/Urdu/Oriya/Alt.Eng/Santhali/Ho)</p>
<hr>

<p>
	<strong>3. Bachelor of Science (Honours) </Strong>
</p>

<p>

<strong>Honours Paper </strong>:Candidates shall choose any one from below :-
</p>
<p>Physics</p>
<p>Chemistry</p>
<p>Mathemeatics</p>

<p>
<strong>Subsidiary Paper </strong>:Two subject from the above list(except the one as an Honours subject) may be chosen as Subsidiary subjects.
</p>
<p>

<strong>Compulsory Paper </strong>: Composition
</p>
<p> a. For Hindi students : Hindi 100 marks  </p>
<p> b. For Non-Hindi students : 50 Marks Hindi & 50 marks Mil (Bangla/Urdu/Oriya/Alt.Eng/Santhali/Ho)</p>
<p>
	<hr>
	<hr>