<div class="page" >
  <div class="container">
    <div class="row">
  <div class="lines">
<div class="breadcrum-wrap"><h5>Vocational Program</div></h5>
<p>
	<p>

<strong>1. Bachelor of Computer Application </Strong>
<p>
<strong>	Course Structure Semester I</strong></p>
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Semester</th>
			<th><center>Papers</center></th>
			<th>Type</th>
			<th>Internal</th>
			<th>External</th>
			<th>Full Marks</th>
			<th>Pass Marks %</th>
			<th>Credit</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td>Sem.I-I</td>
			<td>Mathematics</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td>Sem.I-II</td>
			<td>Introduction to Computer Science</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Darker Table Row -->

		<tr>
			<td>Sem.I-III</td>
			<td>Programming in 'C'</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>

		<tr>
			<td>Sem.I-IV</td>
			<td>Communication Skills/Technical English</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr
		<tr>
			<td></td>
			<td>C and IT Lab</td>
			<td>Practical</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>
	</tbody>
	<!-- Table Body -->

</table>
<p>

<strong>1. Mathematics </strong>
</p>
<p><strong>Differential Calculus</strong>: Successive differentiation, Leibnitz Theorem, Taylor’s theorem with Lagrange’s forms of remainders, Expansion of a function of one variable in Taylors and Maclanrin's infinite series. Maxima and Minima of one variable, partial Derivatives, Euler's theorem, change of variables, total differentiation, Errors and approximation. Taylor’s series in two variables. Maxima and Minima of two or more Variables. </p>
<p><strong>Integral Calculus</strong>:Definite integral and its application for area, length and volume. Multiple integrals. Change of order of integration. Transformation of integral from Cartesian to polar. Applications in areas, volume and surfaces. </p>


<p><strong>Differential Equation</strong>:First degree and first order Differential equation: Higher order differential equation with constant coefficients. Linear partial differential equation of first order P.D.E. of higher with constant coefficients. </p>
<p><strong>Books</strong>:</p>
<p>i. Das BC and Mukherjee, Differential Calculus, Calcutta, U.N. Dhar Publishers</p>
<p>ii. Das BC and Mukherjee, Integral Calculus, Calcutta, U.N. Dhar Publishers</p>
<p>iii. Grewal B.S., Higher Engineering Mathematics, Delhi Khanna Publishers</p>
<p>iv.  Rajput B.S., Mathematical Physics </p><hr>
<p>
<strong>2. Introduction to Computer Science </strong></p>

<p><strong>Intrduction to Computers</strong><p>Introduction, Characteristics of computers, Evolution of computers, Generation of Computers, Classification of Computers, The Computer System, Applications of Computers.  </p>

<p><strong>Number Systems and Logic Gates</strong><p>Introduction, Number Systems, Conversion between Number Bases, Arithmetic System, Signed and Unsigned Numbers, Concept of Overflow, Binary Coding, Logic Gates, Boolean algebra, Combination of Logic Gates. </p>


<p><strong>Computer Architecture</strong><p>Introduction, Central Processing Unit (CPU) Memory, Communication between Various Units of a Computer System, The Instruction Format, Instruction Set, Processor Speed, Multiprocessor Systems. </p>
<p><strong>Primary Memory & Secondary Storage </strong></p>
<p>Introduction, Memory Hierarchy, Random Access Memory (RAM), Types of RAM, Read Only Memory (ROM), Types of ROM.Introduction, Classification of Secondary Storage Devices, Magnetic Tape, Magnetic Disk, Optical Disk, Magneto Optical disk. </p>
<p><strong>Input Devices & Output Devices </strong></p>
<p>Introduction, Keyboard, Pointing Devices, Speech Recognition, Digital Camera, Scanners, Optical Scanners. Introduction, Classification of Output, Hard Copy Output Devices, Printers, Plotters, Computer Output Microfilm (COM), Soft Copy Output Devices, Monitors, Audio Output, Projectors, Terminals. </p>
<p><strong>Computer Program, Computer Languages, Computer Software</strong></p>
<p>Introduction, Developing a Program, Algorithm, Flowchart, and Pseudo code (PCode). Introduction, Evolution of Programming Languages, Classification of Programming Languages, Generations of Programming Languages, Features of a Good Programming Language, Selection of a Programming Language. Introduction, Software: Definition, Relationship between Software and Hardware, Software Categories, System Software, Application Software, Software Terminology. </p>
<p><strong>Operating System</strong></p>
<p>Introduction, Operating System, Evolution of Operating System, Types of Operating System, Functions of an Operating System, Modern Operating Systems. </p>
<p><strong>Data Communication and Computer Network, Internet Basics</strong></p>
<p>Introduction, Data Communication, Transmission Media, Multiplexing, Switching, Computer Network, Network Topologies, Communication Protocols, Network devices. Introduction, Evolution of Internet, Basic Internet Terms, Getting Connected to Internet, Internet Applications, Electronic Mail: An Introduction How E-Mail Works, Searching the Web (Search Engines), Languages of Internet, Internet and Viruses. </p>
<p><strong>Text Book</strong>:</p>
<p>Introduction to Computer Science, ITL Education solution Limited, R&D Wing, PEARSON Education, Edition 2004</p>
<p><strong>Reference Book:</strong></p>
<p>Rajaraman V. – Fundamental of Computers, Prentice Hall of India Pvt. Ltd., New Delhi – 2nd edition, 1996</p><hr>
<p>
<strong>3. Programming in C </strong></p>
<p>History and Importance of C, Sample programming, Basic Structure and execution of C Programmes, Constants, Variables, and Data Types and various types of declarations, Different type operators and Expressions, Evaluation of Expressions, Operator Precedence and Associability, Mathematical Functions.  </p>
<p>
Managing Input and Output operations, Decision Making and Branching Decision Making and Looping. </p>
<p> 
One – dimensional Arrays and their declaration and Initializations, Two-dimensional Arrays and their initializations, Multidimensional Arrays, Dynamic Arrays, String Variables, Reading and Writing Strings, Arithmetic Operations on characters, Putting Strings together, Comparison of Two Strings, String – handling functions, Table and other features of Strings.  </p>
<p>
Need and Elements for user –defined Functions, Definition of Functions, Return values and their types, Function calls and Declaration, Arguments and corresponding return values, Functions that return multiple values, Nesting of functions, Recursion, Passing arrays and strings to functions, The Scope, Visibility and Life time of variables.
</p>
<p> 
Defining Structure, Declaring Structure Variable and Accessing Structure Members, Initialization of Structure, Comparing Structure Variables, Operation on Individual Members, Arrays of Structures, Structures within structures, Structures and Functions, Unions, Size of Structures, Bit Fields.</p>
<p>  
Understanding Pointers, Accessing the Address of a Variable, Declaration and Initialization of Pointer Variables, Accessing a Variable through its Pointer, File Management in C.</p>
<p><strong>Text Book</strong>:</p>
<p> E. Balagurusamy – Programming in ANSI C, 3rd Edn. , TMH, New Delhi; 2004 </p>
<p><strong>Reference Books</strong>:</p>
<p>i. Programming with C, B.S.Gottfried (TMH) </p>
<p>ii. Y. Kanetkar – Let us C, 4th Edition, BPB Publication , New Delhi; 2002</p>
<p>iii. Y. Kanetkar Pointer in C </p>
<hr>
<p><strong>4. Communication Skills / Technical English</strong></p>
<p><strong>Introduction</strong>:</p>
<p>Definition, Objectives, Stages of Communication, Essentials of Good/Effective Communication, Benefits of Good Communication, Gaps in Communication, Communication and Information Technology. </p>
<p><strong>Business Correspondence</strong>:</p>
<p>Structure of a Letter, Inquiry Letter, Sales Letter, Order Letter, Complaints, Complaint Handling, Telemarketing.</p>
<p> <strong>Government Correspondence</strong>:</p>
<p>Noting, Routine Letter, Demi-Official Letter Memorandum, Circular, Telegrams, Newsletter. </p>
<p><strong>Writing Skills</strong>:</p>
<p>Report Writing, Scientific Paper Writing, Writing Small Paragraphs & Essays, Composition. </p>
<p></strong>Grammar</strong>:</p>
<p>Sentence Structure, Idiomatic Usage of Language, Tenses, Direct & Indirect Parts of Speech, Active & Passive Voice, Vocabulary. </p>
<p><strong>Selected Short Stories</strong>:</p>

<p>2-3 classic short stories, 2-3 great short stories by Indian writers. </p>
<p><strong>Preparation for Job</strong>:</p>
<p>Writing Applications for Jobs, Preparing Curriculum Vitae, Preparing for Interviews, Preparing for Group Discussions. </p>
<p><strong>Text Books</strong>:</p>
<p>i.  Organizations - Structures, Processes and Outcomes; Richard h Hall; Prentice Hall India </p>
<p>ii. English for the Secretary; Yvonne Hoban; Tata McGraw Hill </p>
<p>iii.  Technical Communication: M. Raman & S. Sharma; Oxford University Press</p>
<p>iv.  Business Communication Process and Product: M.E. Guffey; Thomson Learning</p>
<p><strong>Reference Books</strong>:</p>
<p>i. Human Behavior at Work; John W Newstorm& Keith Davis; Tata McGraw Hil</p>
<p>ii. The Most Common Mistakes in English Usage; Thomas Elliot Berry, Tata McGraw Hill </p>
<p>iii. Business Communication: R.K. Madhukar; Vikas Publication </p>
<hr>
<p>
<strong>	Course Structure Semester II</strong></p>
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Semester</th>
			<th><center>Papers</center></th>
			<th>Type</th>
			<th>Internal</th>
			<th>External</th>
			<th>Full Marks</th>
			<th>Pass Marks %</th>
			<th>Credit</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td>Sem.II-I</td>
			<td>Data Structures & C++</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td>Sem.II-II</td>
			<td>Probability & Statistics</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Darker Table Row -->

		<tr>
			<td>Sem.II-III</td>
			<td>Logic Design</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>

		<tr>
			<td>Sem.II-IV</td>
			<td>Managerial Economics</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr
		<tr>
			<td></td>
			<td>Data Structures & C++ LAB </td>
			<td>Practical</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>
	</tbody>
	<!-- Table Body -->

</table>
<p><strong>1. DATA Structures & C++</strong></p>
<p><strong>Introduction to C++</strong>:</p>
<p>A First look at a C++ Program, Variables and Constants, Arithmetic Expressions, Arrays, Logical Expressions and if-else Statements, Iterative Statements, The switch Statement, Pointers, References, Dynamic Memory Allocation, Strings, Structures. </p>
<p><strong>Linked List</strong>:</p>
<p>Data Structures and Abstract Data Types, Linked List Data structure, Linked List Traversal, The Insert Function, Remove Function, Linked Lists vs. Arrays, Linked Lists with a Tail and Doubly Linked Lists.<p>
<p> <strong>Stacks</strong>:</p>
<p>Introduction, Array Implementation of Stack, The Hardware Stack.  </p>
<p><strong>Classes</strong>:</p>
<p>Introduction, Public and Private Members, Encapsulation, Implementation of a Class, Syntax for Accessing Class Members, Constructors and Destructors, Arrays of Class Objects, Operator Overloading for Classes, Classes and Efficiency. </p>
<p><strong>Queues</strong>:</p>
<p>Introduction, Ring Buffer and Linked List Queue Implementations </p>
<p><strong>Trees</strong>:</p>
<p>Introduction, Binary Search Trees, The Destroy, Find, and Insert Functions for Binary Search Trees, The Remove Function for the Binary Search Tree, Binary Tree Traversals, Implementing Tree as a Class. </p>
<p><strong>Searching and Sorting</strong>:</p>
<p>Introduction, Sequential and Binary Search, Selection Sort, Insertion Sort, Bubble Sort, Merge sort, Quick sort, Tree sort and Heap sort, Radix Sort. </p>
<p><Strong>Text Book</strong>:</p>
<p>M.Litvin & G.Litvin- Programs with C++ and Data structures-Vikas Publishing Home, New Delhi, 2005</p>
<hr>
<p><strong>2. Probability & Statistics</strong></p>
<p><strong>Probability</strong>:</p>
<p>Introduction, Events & Different Types of Events, Addition & Multiplication Law, Conditional Probability, Bay's Theorem. </p>
<p><strong>Probability Distribution</strong>:</p>
<p>Random Variables, Probability Function, Binomial Poison & Normal Distribution.</p>
<p><strong>Statistics</strong>:</p>
<p> Definition, Function & Scope of Statistics. </p>
<p><strong>Measures of Central Tendency</strong>:</p>
<p>Arithmetic Mean, Weighted A.M., Median, Mode, Geometric & Harmonic Mean and Their Merits & Demerits. </p>
<p><strong>Measures of Variation</strong>:</p>
<p> Range, The Interquartile Range or Quartile Deviation, Average (Mean), Deviation Standard Deviation, Coefficient of Variation, Skewness, Moments & Kurtosis. </p>
<p><strong>Correlation Analysis</strong>:</p>
<p>Introduction, Karl Pearson's Coefficient of Correlation, Rank Correlation Coefficient. </p>
<p><strong>Regression Analysis</strong></p>
<p> Difference between Correlation & Regression, Regression Lines, Regression Equations, Regressions Coefficient. </p>
<p><strong>Sampling Distribution</strong>:</p>
<p>Chi Square (X2) Distribution and Its Properties, Chi - Square Test, Application of Chi -Square Distribution: Chi-Square Test for Population Variance, Chi- Square Test of Goodness of Fit.</p>
<p><Strong>Text Books</strong>:</p>
<p>i. S.P. Gupta & M.P. Gupta, "Business Statistics", Sultan Chand & Sons</p>
<p>ii.  S.C. Gupta & V.K. Kapoor,"Fundamental of Mathematical Statistics", Sultan Chand & Sons.  </p>
<hr>

<p><strong>3. Logic Design </strong></p>
<p><strong>Binary Systems</strong>:</p>
<p> Digital Systems, Binary Numbers, Number Base Conversions, Octal and Hexadecimal Numbers, Complements, Signed Binary Numbers, Binary Codes, Binary Storage and Registers, Binary Logic.</p>
<p><strong>Boolean Algebra and Logic Gate</strong></p>
<p>  Basic Definitions, Axiomatic Definition of Boolean Algebra, Basic Theorems and Properties of Boolean Algebra, Boolean Functions, Canonical and Standard Fonns, Other Logic Operating, Digital Logic Operations, Digital Logic Gates, Integrated Circuits.  </p>
<p><strong>Gate - Level Minimization</strong>:</p>
<p>The Map Method, Four - Variable Map, Five - Variable Map, Product of Sums Simplification, Don't - Care Conditions, NAND and NOR Implementations, Other Two- Level Implements, Exclusive - OR Function. </p>

<p><strong>Combinational Logic</strong>:</p>
<p>Combinational Circuits? Analysis Procedure, Design Procedure, Binary Adder - Subtractor, Decimal Adder, Binary Multiplier, Magnitude Comparator, Decoders, Encoders, Multiplexers .</p>
<p><strong>Synchronous Sequential Logic</strong>:</p>
<p>Sequential Circuits, Latches, Flip-Flops, Analysis of Clocked Sequential Circuits, State Reduction and Assignment, Design Procedure. </p>
<p><strong>Registers and Circuits</strong>:</p>
<p> Registers, Shift Registers, Ripple Counters, Synchronous Counters, Other Counters. </p>
<p><strong>Memory and Programmable Logi</strong>:</p>
<p>Introduction, Random-Access Memory, Memory Decoding, Error Detection and Correction, Read-Only Memory, Programmable Logic Array, Programmable Array Logic, Sequential Programmable Devices.</p>
<p></strong>Text Book</strong>:</p>
<p>M.Morris Mano- Digital Design, 3rd Edn, Pearson Education, New Delhi - 2005</p>
<p></strong>Reference Book</strong>:</p>
<p>A.B.Marcovitz- Introduction to Logic Design, TMH, New Delhi - 2002</p>
<hr>
<p><strong>4. Managerial Economics </strong></p>
<p>Meaning, nature, scope and significance of economics Consumer Behaviour. Utility approach, Law of diminishing marginal utility. Law of equip marginal utility. Indifference curve approach, Consumer equilibrium income, prices & substitution effects.  </p>
<p>Revealed Preference theory of law of Demand, Elasticity of demand and its measurements, methods of Demand forecasting, Concepts of cost and revenue, Short run and long run cost curves, Concept of total, average and marginal revenues.  </p>
<p>Relationship between average revenue, marginal revenue and elasticity of demand. Price determination under perfect, oligopoly, duopoly, monopoly, monopolistic competition price discrimination. Investment decision – capital building, public investment decision, risk and uncertainty .</p>
<p><strong>Reference Books</strong>:</p>
<p>i. Elements of Economics – Dewett&Dewett</p>
<p>ii. Managerial Economics – Vartshney&Maheswari </p>
<p>iii. Managerial Economics – J.G.Verma </p>
<p>iv. Economical Analysis for Management Decisions – T.W.Elliot </p>
<p>v. Business Economics – V.G.Mankar</p>
<p>vi. Managerial Economics – N.F. Dufty</p>
<hr>




<p>
<strong>Course Structure Semester III</strong></p>
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Semester</th>
			<th><center>Papers</center></th>
			<th>Type</th>
			<th>Internal</th>
			<th>External</th>
			<th>Full Marks</th>
			<th>Pass Marks %</th>
			<th>Credit</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td>Sem.III-I</td>
			<td>Scientific Computing</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td>Sem.III-II</td>
			<td>Software Engineering Principles</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Darker Table Row -->

		<tr>
			<td>Sem.III-III</td>
			<td>Rational Database Management System</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>

		<tr>
			<td>Sem.III-IV</td>
			<td>Operating System & Linux Programming</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>
		<tr>
			<td></td>
			<td>OS (Linux) & RDBS (Oracle) Lab</td>
			<td>Practical</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>
	</tbody>
	<!-- Table Body -->

</table>

<p><strong>1. Scientific Computing</strong></p>
<p><strong>Errors in Numerical Calculations</strong>:</p>
<p>Numbers and their accuracy, Errors and their Computations- Absolute, Relative and Percentage, General Error Formula. </p>
<p><strong>Solution of Algebraic and Transcendental Equations</strong>:</p>
<p>Introduction, Bisection method, Iteration method, Method of False Position, Newton- Raphson method, Graeffe’s Root-Squaring method. <p>
<p> <strong>Interpolation</strong>:</p>
<p> Introduction, Errors in Polynomial Interpolation, Finite Differences- Forward, Backward and Central, Detection of errors using Difference tables, Differences of a Polynomial, Newton’s formulae for Interpolation, Central Difference Interpolation Formulae- Gauss’s Central Difference Formula, Interpolation with unevenly spaced points, Lagrange’s Interpolation Formula, Divided Differences and their properties- Newton’s General Interpolation Formula, Inverse Interpolation. </p>
<p><strong>Numerical Differentiation and Integration</strong>:</p>
<p>Introduction, Numerical Differentiation and Errors, Numerical Integration – Trapezoidal Rule, Simpson’s 1/3 Rule, Simpson’s 3/8 Rule, Weddle’s Rule, Romberg Integration, Newton- Cotes Integration Formulae.</p>
<p><strong>Numerical Solution of Linear System of Equations</strong>:</p>
<p>Direct Methods- Matrix Inversion Method, Gauss-Jordan Method, Gauss Elimination Method, Method of Factorization, Ill- conditioned Linear System. </p>
<p><strong>Numerical Solution of Ordinary Differential Equations</strong>:<p>
	<p>Solution by Taylor’s Series, Euler’s method, Modified Euler’s method, Runge-Kutta method of 2nd and 4th order. </p>
	<p><strong>Text Book</strong>:</p>
	<p> S.S.Sastry -Introductory methods of Numerical Analysis, 4thEdition, Prentice Hall of India, New Delhi, 2006 </p>

<p><strong>Reference Books</strong>:</p>
<p>i.  V.N.Vedamurthy et.al.-Numerical Methods, Vikas Publishing House, New Delhi, 2005</p>
<p>ii.  B.S.Grewal- Numerical Methods in Engineering & Science, Khanna Publishers, Delhi, 2005</p>
<hr>

<p><strong>2. Software Engineering Principles</strong></p>
<p><strong>Introduction to Software Engineering</strong>:</p>
<p> Characteristics, Emergence of Software Engineering, Software Metrics & Models, Process & Product Metrics. </p>
<p><strong>Software Life Cycle Models</strong>:</p>
<p>Waterfall, Prototype and Spiral Models and their Comparison. <p>
<p> <strong>Software Project Management</strong>:</p>
<p>Size Estimation- LOC and FP Metrics, Cost Estimation-Delphi and Basic COCOMO.  </p>
<p><strong>Software Requirements Specification</strong>:</p>
<p> SRS Documents, their Characteristics and Organization. </strong>:</p>

<p><strong>Software Design</strong>:<p>
	<p> Classification, Software Design Approaches, Function Oriented Software Design, Structured Analysis- Data flow Diagrams and Structured Design, Introduction to Object Oriented Design. </p>

<p><strong>Coding and Testing of Software</strong>:<p>
	<p> Unit Testing, Block Box Testing, White Box Testing, Debugging, Program Analysis Tools, System Testing. </p>

	<p><strong>Software Quality Assurance</strong>:<p>
	<p> ISO 9000 and SEI CMM and their Comparison. </p>
<p><strong>Software Maintenance</strong>:<p>
	<p> Maintenance Process Models and Reverse Engineering, Estimation of Maintenance Costs.  </p>

<p><strong>Software Development Tools</strong>:<p>
	<p> Introduction to “Rational Rose”. </p>



	<p><strong>Text Book</strong>:</p>
	<p> Rajib Mall -Fundamentals of Software Engineering, Prentice Hall of India, New Delhi, 2005 </p>

<p><strong>Reference Books</strong>:</p>
<p>i. Pankaj Jalote- An Integrated Approach to Software Engineering, 3rd Edition, Narosa Publishing House, New Delhi,2005 </p>
<p>ii. Richard Fairley- Software Engineering Concepts, Tata McGraw Hill, New Delhi, 2006</p>
<hr>
<p><strong>2. Relational Database Management Systems</strong></p>
<p><strong>Database Sytem Concepts & Architecture</strong>:<p>
	<p>Data Independence, Schemas, Instances, Database Languages, Database System Environments Data Models, Basic Structure of Oracle System, Storage Organization in Oracle. </p>
<p><strong>Data Modelling</strong>:<p>
	<p>Use of High –level Conceptual Data Models, ER Diagrams, Subclasses, Superclasses and Inheritance, Specialization & Generalization, Conceptual Object Modeling using UML Class Diagrams, Knowledge Representation Concepts, Exercises. </p>
	<p><Strong>Relational Data Model</strong>:</p>
	<p>Relational Constraints, Domain Constraints, Key Constraints Referential Integrity Constraints, Relational Algebra, Fundamental Operations of Relational Algebra & their Implementation, Interdependence of Operations, Example Queries. </p>
	<p><strong>ER and EER To Relational Mapping</strong>:</p>
	<p>Mapping EER Model Concepts to Relation, Tuple Relational Calculus, Domain Relational Calculus Queries. </p>
	<p><strong> Database Design</strong>:</p>
	<p>Functional Dependencies, Irreducible Sets of Dependencies, Nonloss Decomposition, 1st, 2nd & 3rd NF, Dependency Preservation, Boyce Codd NF, Multivalued Dependency & 4th NF, Join Dependency & 5 NF, Domain Key Normal Form, Restriction –Union Normal Form, Denormalization. </p>
	<p><strong>Database Security & Authorization</strong>:</p>
	<p>Specifying Privileges, Revoking Privileges, Propagation of Privileges, Statistical Database Security. </p>
	<p><strong>Text Books</strong>:</p>
	<p>i.  Fundamental of Database Systems- ElmasriNavathe- Pearson Education Asia </p>
	<p>ii. Database- Principles, Programming and Performance- Parick O’ Neil Elizabeth O’ Niel, Harcourt Asia PTE Limited </p>
	<p><strong>Reference Books</strong>:</p>
	<p>i. An Introduction to Database Systems- C.J.Date, Addison Wesley, Pearson Education Press </p>
	<p>ii. Database System Concepts- Abraham Silberschat, Henry F. Korth, S.Sudarshan, Tata McGraw Hill.</p>
	<hr>
	<p> <strong>Operating Systems & Linux Programming</strong></p>
	<p><strong>Introduction</strong>:</p>
	<p>What is an Operating System? Mainframe Systems, Desktop Systems, Multiprocessor Systems, Distributed Systems, Clustered Systems, Real- Time Systems.</p>
	<p><strong>Computer-System Structures</strong>:</p>
	<p>Operation, I/O Structure, Storage Structure, Storage Hierarchy. </p>
	<p><strong>Operating-System Structures</strong>:</p>
	<p> System Components; Operating-System Services; System Calls; System Programs; System Structure, System Design and Implementation, System Generation. </p>
	<p><strong>Processes</strong>:</p>
	<p>Process Concept; Process Scheduling, Operations On Processes. </p>
	<p><strong>CPU Scheduling</strong>:</p>
	<p>Basic Concepts; Scheduling Criteria; Scheduling Algorithms. </p>
	<p><strong>Storage Management</strong>:</p>
	<p>Memory Management- Backward, Swapping, Contiguous Memory Allocation, Paging, Segmentation, Segmentation with Paging. </p>
	<p><strong>File-System Interface</strong>:</p>
	<p>File Concept; Access Methods; Directory Structure; Protection.</p>
	<p><strong>Mass-Storage Structure</strong>:</p>
	<p>Disk Structure; Disk Scheduling; Disk Management; Swap- Space Management.</p>
	<p><strong>The Linux System</strong>:</p>
	<p>History; Design Principles; Kernel Modules; Process Management; Scheduling; Memory Management; File Systems; Input And Output; Security.</p>
	<p><strong>Text Book</strong>:</p>
	<p> A. Silberschatz et.al.-Operating System Concepts, 6th Edition, John Wiley Inc., 2003</p>
	<p><strong>Reference Books</strong>:</p>
	<p>i.  H.M. Deitel -Operating Systems , 6th Edition, Pearson Education, 2006 </p>
	<p>ii. D.M. Dhandhare - Operating Systems, 2nd Edition, Tata McGraw Hill, New Delhi, 2006 </p>
	<p>iii. A. Robbins-Linux Prog.by Examples-Pearson Education, Newdelhi</p>
	<hr>

	<p>
<strong>Course Structure Semester IV </strong></p>
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Semester</th>
			<th><center>Papers</center></th>
			<th>Type</th>
			<th>Internal</th>
			<th>External</th>
			<th>Full Marks</th>
			<th>Pass Marks %</th>
			<th>Credit</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td>Sem.IV-I</td>
			<td>Data Communication & Computer Network</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td>Sem.IV-II</td>
			<td>Object Oriented Programming in JAVA</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Darker Table Row -->

		<tr>
			<td>Sem.IV-III</td>
			<td>Programming in Visual Basic  </td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>

		
		<tr>
			<td></td>
			<td>LAB of Java & Visual Basic</td>
			<td>Practical</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>
	</tbody>
	<!-- Table Body -->

</table>

<p><strong>1. Data Communication & Computer Network</strong></p>
<p><strong>Data Transmission Basic Concepts and Terminology</strong>:</p>
<p> Data Communication Model, Communication Tasks, Parallel & Serial Transmission, Transmission Models, Transmission Channel, Data Rate, Bandwidth Signal Encoding Schemes, Data Compression, Transmission Impairments, Layering and Design Issues, OSI Model, Services and Standards.</p>
<p><strong>Computer Network</strong>:</p>
<p>Network Topology, Performance of Network, Network Classification, Advantages & Disadvantages of Network, Transmission Media (guided and unguided), Network Architecture, OSI Reference Model, TCP/IP.</p>
<p><strong>Data Line Devices</strong>:</p>
<p> Modems, DSL, ADSL. </p>
<p><strong>Data Link Layer</strong>:</p>
<p>Need for Data Link Control, Frame Design Consideration, Flow Control & Error Control (Flow control mechanism, Error Detection and Correction techniques) Data Link Layer Protocol, and HDLC. </p>
<p><strong>Network Layer</strong>:</p>
<p>Routing, Congestion control, Internetworking principles, Internet Protocols (IPv4 packet format, Hierarchal addressing sub netting, ARP, PPP), Bridges, Routers. </p>
<p><strong>Physical Layer</strong>:</p>
<p> Function and interface, physical layer standard, null modem. </p>
<p><strong>Network Security</strong>:</p>
<p>Security Requirement, Data encryption strategies, authentication protocols, Firewalls. </p>
<p><strong>Basic Applications</strong></p>
<p>Telnet, FTP, NFS, SMTP, SNMP and HTTP. </p>
<p><strong>Text Book</strong>:</p>
<p>Prakash C. Gupta -Data Communications & Computer Networks, PHI, New Delh</p>
<p><strong>Reference Books</strong>:</p>
<p>i. William Stallings- Data & Communications, 6th Edition, Pearson Education </p>
<p>ii. Tanenbaum- Computer Networks, 3rd Edition, PHI, New Delhi</p>
<hr> 