<div class="page" >
  <div class="container">
    <div class="row">
  <div class="lines">
<div class="breadcrum-wrap"><h5>Vocational Program</div></h5>
<p>
	<p>

<strong>1. Bachelor of Computer Application </Strong>
<p>
<strong>	Course Structure Semester I</strong></p>
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Semester</th>
			<th><center>Papers</center></th>
			<th>Type</th>
			<th>Internal</th>
			<th>External</th>
			<th>Full Marks</th>
			<th>Pass Marks %</th>
			<th>Credit</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td>Sem.I-I</td>
			<td>Mathematics</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td>Sem.I-II</td>
			<td>Introduction to Computer Science</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Darker Table Row -->

		<tr>
			<td>Sem.I-III</td>
			<td>Programming in 'C'</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>

		<tr>
			<td>Sem.I-IV</td>
			<td>Communication Skills/Technical English</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr
		<tr>
			<td></td>
			<td>C and IT Lab</td>
			<td>Practical</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>
	</tbody>
	<!-- Table Body -->

</table>
<p>

<strong>1. Mathematics </strong>
</p>
<p><strong>Differential Calculus</strong>: Successive differentiation, Leibnitz Theorem, Taylor’s theorem with Lagrange’s forms of remainders, Expansion of a function of one variable in Taylors and Maclanrin's infinite series. Maxima and Minima of one variable, partial Derivatives, Euler's theorem, change of variables, total differentiation, Errors and approximation. Taylor’s series in two variables. Maxima and Minima of two or more Variables. </p>
<p><strong>Integral Calculus</strong>:Definite integral and its application for area, length and volume. Multiple integrals. Change of order of integration. Transformation of integral from Cartesian to polar. Applications in areas, volume and surfaces. </p>


<p><strong>Differential Equation</strong>:First degree and first order Differential equation: Higher order differential equation with constant coefficients. Linear partial differential equation of first order P.D.E. of higher with constant coefficients. </p>
<p><strong>Books</strong>:</p>
<p>i. Das BC and Mukherjee, Differential Calculus, Calcutta, U.N. Dhar Publishers</p>
<p>ii. Das BC and Mukherjee, Integral Calculus, Calcutta, U.N. Dhar Publishers</p>
<p>iii. Grewal B.S., Higher Engineering Mathematics, Delhi Khanna Publishers</p>
<p>iv.  Rajput B.S., Mathematical Physics </p><hr>
<p>
<strong>2. Introduction to Computer Science </strong></p>

<p><strong>Intrduction to Computers</strong><p>Introduction, Characteristics of computers, Evolution of computers, Generation of Computers, Classification of Computers, The Computer System, Applications of Computers.  </p>

<p><strong>Number Systems and Logic Gates</strong><p>Introduction, Number Systems, Conversion between Number Bases, Arithmetic System, Signed and Unsigned Numbers, Concept of Overflow, Binary Coding, Logic Gates, Boolean algebra, Combination of Logic Gates. </p>


<p><strong>Computer Architecture</strong><p>Introduction, Central Processing Unit (CPU) Memory, Communication between Various Units of a Computer System, The Instruction Format, Instruction Set, Processor Speed, Multiprocessor Systems. </p>
<p><strong>Primary Memory & Secondary Storage </strong></p>
<p>Introduction, Memory Hierarchy, Random Access Memory (RAM), Types of RAM, Read Only Memory (ROM), Types of ROM.Introduction, Classification of Secondary Storage Devices, Magnetic Tape, Magnetic Disk, Optical Disk, Magneto Optical disk. </p>
<p><strong>Input Devices & Output Devices </strong></p>
<p>Introduction, Keyboard, Pointing Devices, Speech Recognition, Digital Camera, Scanners, Optical Scanners. Introduction, Classification of Output, Hard Copy Output Devices, Printers, Plotters, Computer Output Microfilm (COM), Soft Copy Output Devices, Monitors, Audio Output, Projectors, Terminals. </p>
<p><strong>Computer Program, Computer Languages, Computer Software</strong></p>
<p>Introduction, Developing a Program, Algorithm, Flowchart, and Pseudo code (PCode). Introduction, Evolution of Programming Languages, Classification of Programming Languages, Generations of Programming Languages, Features of a Good Programming Language, Selection of a Programming Language. Introduction, Software: Definition, Relationship between Software and Hardware, Software Categories, System Software, Application Software, Software Terminology. </p>
<p><strong>Operating System</strong></p>
<p>Introduction, Operating System, Evolution of Operating System, Types of Operating System, Functions of an Operating System, Modern Operating Systems. </p>
<p><strong>Data Communication and Computer Network, Internet Basics</strong></p>
<p>Introduction, Data Communication, Transmission Media, Multiplexing, Switching, Computer Network, Network Topologies, Communication Protocols, Network devices. Introduction, Evolution of Internet, Basic Internet Terms, Getting Connected to Internet, Internet Applications, Electronic Mail: An Introduction How E-Mail Works, Searching the Web (Search Engines), Languages of Internet, Internet and Viruses. </p>
<p><strong>Text Book</strong>:</p>
<p>Introduction to Computer Science, ITL Education solution Limited, R&D Wing, PEARSON Education, Edition 2004</p>
<p><strong>Reference Book:</strong></p>
<p>Rajaraman V. – Fundamental of Computers, Prentice Hall of India Pvt. Ltd., New Delhi – 2nd edition, 1996</p><hr>
<p>
<strong>3. Programming in C </strong></p>
<p>History and Importance of C, Sample programming, Basic Structure and execution of C Programmes, Constants, Variables, and Data Types and various types of declarations, Different type operators and Expressions, Evaluation of Expressions, Operator Precedence and Associability, Mathematical Functions.  </p>
<p>
Managing Input and Output operations, Decision Making and Branching Decision Making and Looping. </p>
<p> 
One – dimensional Arrays and their declaration and Initializations, Two-dimensional Arrays and their initializations, Multidimensional Arrays, Dynamic Arrays, String Variables, Reading and Writing Strings, Arithmetic Operations on characters, Putting Strings together, Comparison of Two Strings, String – handling functions, Table and other features of Strings.  </p>
<p>
Need and Elements for user –defined Functions, Definition of Functions, Return values and their types, Function calls and Declaration, Arguments and corresponding return values, Functions that return multiple values, Nesting of functions, Recursion, Passing arrays and strings to functions, The Scope, Visibility and Life time of variables.
</p>
<p> 
Defining Structure, Declaring Structure Variable and Accessing Structure Members, Initialization of Structure, Comparing Structure Variables, Operation on Individual Members, Arrays of Structures, Structures within structures, Structures and Functions, Unions, Size of Structures, Bit Fields.</p>
<p>  
Understanding Pointers, Accessing the Address of a Variable, Declaration and Initialization of Pointer Variables, Accessing a Variable through its Pointer, File Management in C.</p>
<p><strong>Text Book</strong>:</p>
<p> E. Balagurusamy – Programming in ANSI C, 3rd Edn. , TMH, New Delhi; 2004 </p>
<p><strong>Reference Books</strong>:</p>
<p>i. Programming with C, B.S.Gottfried (TMH) </p>
<p>ii. Y. Kanetkar – Let us C, 4th Edition, BPB Publication , New Delhi; 2002</p>
<p>iii. Y. Kanetkar Pointer in C </p>
<hr>
<p><strong>4. Communication Skills / Technical English</strong></p>
<p><strong>Introduction</strong>:</p>
<p>Definition, Objectives, Stages of Communication, Essentials of Good/Effective Communication, Benefits of Good Communication, Gaps in Communication, Communication and Information Technology. </p>
<p><strong>Business Correspondence</strong>:</p>
<p>Structure of a Letter, Inquiry Letter, Sales Letter, Order Letter, Complaints, Complaint Handling, Telemarketing.</p>
<p> <strong>Government Correspondence</strong>:</p>
<p>Noting, Routine Letter, Demi-Official Letter Memorandum, Circular, Telegrams, Newsletter. </p>
<p><strong>Writing Skills</strong>:</p>
<p>Report Writing, Scientific Paper Writing, Writing Small Paragraphs & Essays, Composition. </p>
<p></strong>Grammar</strong>:</p>
<p>Sentence Structure, Idiomatic Usage of Language, Tenses, Direct & Indirect Parts of Speech, Active & Passive Voice, Vocabulary. </p>
<p><strong>Selected Short Stories</strong>:</p>

<p>2-3 classic short stories, 2-3 great short stories by Indian writers. </p>
<p><strong>Preparation for Job</strong>:</p>
<p>Writing Applications for Jobs, Preparing Curriculum Vitae, Preparing for Interviews, Preparing for Group Discussions. </p>
<p><strong>Text Books</strong>:</p>
<p>i.  Organizations - Structures, Processes and Outcomes; Richard h Hall; Prentice Hall India </p>
<p>ii. English for the Secretary; Yvonne Hoban; Tata McGraw Hill </p>
<p>iii.  Technical Communication: M. Raman & S. Sharma; Oxford University Press</p>
<p>iv.  Business Communication Process and Product: M.E. Guffey; Thomson Learning</p>
<p><strong>Reference Books</strong>:</p>
<p>i. Human Behavior at Work; John W Newstorm& Keith Davis; Tata McGraw Hil</p>
<p>ii. The Most Common Mistakes in English Usage; Thomas Elliot Berry, Tata McGraw Hill </p>
<p>iii. Business Communication: R.K. Madhukar; Vikas Publication </p>
<hr>
<p>
<strong>	Course Structure Semester II</strong></p>
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Semester</th>
			<th><center>Papers</center></th>
			<th>Type</th>
			<th>Internal</th>
			<th>External</th>
			<th>Full Marks</th>
			<th>Pass Marks %</th>
			<th>Credit</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td>Sem.II-I</td>
			<td>Data Structures & C++</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td>Sem.II-II</td>
			<td>Probability & Statistics</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr><!-- Darker Table Row -->

		<tr>
			<td>Sem.II-III</td>
			<td>Logic Design</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>

		<tr>
			<td>Sem.II-IV</td>
			<td>Managerial Economics</td>
			<td>Theory</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr
		<tr>
			<td></td>
			<td>Data Structures & C++ LAB </td>
			<td>Practical</td>
			<td>30</td>
			<td>70</td>
			<td>100</td>
			<td>45</td>
			<td>4</td>
		</tr>
	</tbody>
	<!-- Table Body -->

</table>
<p><strong>1. DATA Structures & C++</strong></p>
<p><strong>Introduction to C++</strong>:</p>
<p>A First look at a C++ Program, Variables and Constants, Arithmetic Expressions, Arrays, Logical Expressions and if-else Statements, Iterative Statements, The switch Statement, Pointers, References, Dynamic Memory Allocation, Strings, Structures. </p>
<p><strong>Linked List</strong>:</p>
<p>Data Structures and Abstract Data Types, Linked List Data structure, Linked List Traversal, The Insert Function, Remove Function, Linked Lists vs. Arrays, Linked Lists with a Tail and Doubly Linked Lists.<p>
<p> <strong>Stacks</strong>:</p>
<p>Introduction, Array Implementation of Stack, The Hardware Stack.  </p>
<p><strong>Classes</strong>:</p>
<p>Introduction, Public and Private Members, Encapsulation, Implementation of a Class, Syntax for Accessing Class Members, Constructors and Destructors, Arrays of Class Objects, Operator Overloading for Classes, Classes and Efficiency. </p>
<p></strong>Queues</strong>:</p>
<p>Introduction, Ring Buffer and Linked List Queue Implementations </p>
<p><strong>Trees</strong>:</p>
<p>Introduction, Binary Search Trees, The Destroy, Find, and Insert Functions for Binary Search Trees, The Remove Function for the Binary Search Tree, Binary Tree Traversals, Implementing Tree as a Class. </p>
<p><strong>Searching and Sorting</strong>:</p>
<p>Introduction, Sequential and Binary Search, Selection Sort, Insertion Sort, Bubble Sort, Merge sort, Quick sort, Tree sort and Heap sort, Radix Sort. </p>
<p><Strong>Text Book</strong>:</p>
<p>M.Litvin & G.Litvin- Programs with C++ and Data structures-Vikas Publishing Home, New Delhi, 2005</p>

<p><Strong>Reference Book</strong>:</p>
<p>S.Sahni- Data Structures, Algorithms and Applications in C++, 2nd Edn. Universities Press, India, 2005</p>
<hr>
